<div class="dark-overlay" *ngIf="isLoading">
  <div class="spinner">
  <mat-spinner></mat-spinner>
  </div>
</div>
<div>
  <div class="container">
    <div class="frames-container">
    <span *ngFor="let frame of bowlScore.frames" class="board-container">
      <app-frame [frame]="frame"
                 [isLastFrameVisible]="bowlScore.lastFrameBlockVisible"
                 [currentFrameIndex]="bowlScore.currentFrameIndex">
      </app-frame>
    </span>
    </div>
  </div>

  <div>
    <div class="keypad-message">Enter the number of pins knocked down</div>
    <div class="buttons-container">
      <app-key-pad [gameOver]="bowlScore.gameOver"
                   [disableValueThreshold]="bowlScore.keypadValueThreshold"
                   [isLoading]="isLoading"
                   (btnClick)="scoreFrame($event)">
      </app-key-pad>
    </div>
  </div>

  <div class="info-container">
    <div class="game-over" *ngIf="bowlScore.gameOver">
      <div class="game-over">GAVE OVER</div>
      <div><span class="info">Score: </span>{{ getFrameScoreByIndex(LAST_FRAME_INDEX) }}</div>
    </div>
    <div *ngIf="!bowlScore.gameOver" class="info">
      Current Frame ID: <span class="info-value">{{ bowlScore.currentFrameIndex + 1 }}
    </span>
    </div>
    <div *ngIf="!bowlScore.gameOver" class="info">
      Current Round: <span class="info-value">{{ bowlScore.currentRound }}</span>
    </div>
    <div class="btn-container">
      <button [disabled]="isLoading" class="btn" mat-raised-button [color]="'primary'" (click)="onResetClick()">NEW GAME</button>
    </div>
  </div>
</div>
