.container {
  padding: 20px;
  text-align: center;
}

.title {
  margin: 10px;
  padding-bottom: 30px;
  font-size: xxx-large;
  font-weight: bold;
  font-style: italic;
  color: blue;
}

.subtitle {
  margin: 10px;
  padding-bottom: 30px;
  font-size: xx-large;
  font-style: italic;
  color: darkred;
}
